@using System.Diagnostics
@using FriendStuff.Features.Auth.DTOs
@using Microsoft.AspNetCore.WebUtilities

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<div class="tab-button">
    <button type="button" class="@GetTabClass("events")" @onclick="@(() => ChangeTab("events"))">Events</button>
    <button type="button" class="@GetTabClass("members")" @onclick="@(() => ChangeTab("members"))">Members</button>
</div>

@if (_activeTab.Equals("events"))
{
    <EventFormComponent GroupName="@GroupName" UserInfo="@UserInfo"/>
}
else
{
    <GroupMemberComponent UserInfo="@UserInfo" GroupName="@GroupName"/>
}

@code {
    [Parameter] public required string GroupName { get; set; }
    [Parameter] public required UserInfoDto UserInfo { get; set; }

    private string _activeTab = "events";
    
    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("tab", out var tab))
        {
            _activeTab = tab;
        }
    }
    
    private void ChangeTab(string tab)
    {
        _activeTab = tab;
        var uri = NavigationManager.GetUriWithQueryParameter("tab", tab);
        NavigationManager.NavigateTo(uri, forceLoad:true);
        StateHasChanged();
    }
    
    private string GetTabClass(string tab)
    {
        return _activeTab == tab ? "tab-active" : "";
    }
}